html {
    height: 100%;
}

body {
    background-color: antiquewhite;
    color: dimgrey;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100%;
}

.root {
    position: absolute;
    top: 0;
    bottom: 0;
}

.county-list {
    position: absolute;
    top: 20px;
    bottom: 20px;
}

.county-list-header {
    display: flex;
    flex-direction: row;
    margin: 2px;
    height: 60px;
}

.county-list-global-axis {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 180px;
    overflow: hidden;
}

.county-list-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    bottom: 0;
    overflow-y: scroll;
}

.country-list-row {
    display: flex;
    flex-direction: row;
    margin: 2px;
    height: 50px;
    min-height: 50px;
    cursor: pointer;
}

.country-list-row-selected {
    background-color: rgba(200, 200, 200, 0.2);
}

.country-cell {
    width: 152px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: flex-end;
    justify-content: center;
    margin-right: 28px;
}

.country-cell-population {
    font-size: 10px;
    font-family: Courier;
}


.inline-chat-header {
    width: 180px;
    font-size: 12px;
    text-align: center;
}

.inline-chat-header-title {
    font-size: 10px;
}

.inline-chat-header-details {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.charts-row {
    display: flex;
    flex-direction: row;
}
.charts-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 740px;
    top: 0;
    bottom: 0;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

